<div class="container p-5 m-5">
  <div class="bg-white rounded shadow p-3">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, placeholder: 'E.g. Drama' %>
      <%= f.input :photo %>
      <%= f.submit 'Create a new list', class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
  <p></p>
  <%= link_to 'Back', lists_path, class: 'btn btn-secondary btn-sm' %>
</div>
