<div class="container p-5 m-5">
  <div class="bg-white rounded shadow p-3">
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: 'E.g. To watch during summer break' %>
      <%= f.association :movie, input_html: { data: { controller: 'select2' } } %>
      <%= f.submit 'Add a bookmark', class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
  <p></p>
  <%= link_to 'Back', list_path(@list), class: 'btn btn-sm btn-secondary' %>
</div>
